<div align="center" *ngIf="!loading">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Change Display Name</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="profileForm" (ngSubmit)="saveProfileName(profileForm.value)">
                <mat-form-field appearance="outline">
                    <mat-label>Your Name</mat-label>
                    <input
                        type="text"
                        matInput
                        placeholder="Enter your name"
                        formControlName="displayName"
                        autofocus
                    />
                    <mat-error *ngIf="profileForm.controls['displayName'].errors?.required">Name field is required</mat-error>
                </mat-form-field>

                
                <p>
                    <button type="submit" mat-raised-button color="primary" [disabled]="profileForm.invalid" style="width: 100%;">
                        <mat-icon>save</mat-icon>
                        Save
                    </button>
                </p>
            </form>
        </mat-card-content>
    </mat-card>
</div>

<div align="center" *ngIf="loading">
    <mat-card>
        <mat-card-content>
            <mat-spinner></mat-spinner>
        </mat-card-content>
    </mat-card>
</div>